[alias]
  # basics
  a = add
  ap = add --patch
  st = status --short
  stw = status
  ci = commit -v
  cia = commit --amend –C HEAD
  cl = clone
  co = checkout
  br = branch
  rso = remote show origin
  rsu = remote show upstream
  # diffs
  df = diff
  ds = diff --ignore-space-change
  dw = diff --word-diff
  dc = diff --cached
  dcs = diff --ignore-space-change --cached
  dcw = diff --word-diff --cached
  # reset
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  unstage = reset HEAD --
  # stash
  sl = stash list
  sa = stash apply
  ss = stash save
  # show last tag
  last-tag = describe --tags --abbrev=0
  tags = tag -l
  # misc
  size = count-objects -vH
  # enable shell aliased execs at the repo root directory
  # ex. `git exec make` will run at repo root regardless of pwd
  exec = "!exec "
