[alias]
  # show aliases
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  # basics
  a = add
  st = status --short
  stw = status
  ci = commit -v
  cia = commit --amend –C HEAD
  cl = clone
  co = checkout
  br = branch
  rso = remote show origin
  rsu = remote show upstream
  # diffs
  df = diff
  dw = diff --word-diff
  dc = diff --cached
  dcw = diff --word-diff --cached
  # reset
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  unstage = reset HEAD --
  # stash
  sl = stash list
  sa = stash apply
  ss = stash save
  # show last tag
  lasttag = describe --tags --abbrev=0
  tags = tag -l
  # cleaners
  local-prune = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$"| xargs git branch -d; }; f"
  prune-all = "!f() { git remote prune ${1-origin} && git local-prune ${2-master}; }; f"
  # misc
  size = count-objects -vH
  # enable shell aliased execs at the repo root directory
  # ex. `git exec make` will run at repo root regardless of pwd
  exec = '!exec '
