[alias]
  # logs
  ls = !~/.git-friends/bin/log
  ll = !~/.git-friends/bin/log --compact-summary --date=iso8601-strict
  ld = !~/.git-friends/bin/log --date=relative
  lds = !~/.git-friends/bin/log --date=short
  ldi = !~/.git-friends/bin/log --date=iso8601-strict

  add-upstream = !~/.git-friends/bin/add-upstream
  https-2-ssh = !~/.git-friends/bin/https-2-ssh
  recent = !~/.git-friends/bin/recent
  refresh-hooks = !~/.git-friends/bin/refresh-hooks
  ssh-2-https = !~/.git-friends/bin/ssh-2-https
  submodule-remove = !~/.git-friends/bin/submodule-remove
  submodule-upgrade = !~/.git-friends/bin/submodule-upgrade
