[alias]
  ls = !~/.git-friends/bin/log
  ll = !~/.git-friends/bin/log --compact-summary --date=iso8601-strict
  ld = !~/.git-friends/bin/log --date=relative
  lds = !~/.git-friends/bin/log --date=short
  ldi = !~/.git-friends/bin/log --date=iso8601-strict
  lo = !~/.git-friends/bin/log-from-default
  lol = !~/.git-friends/bin/log-from-default --compact-summary --date=iso8601-strict
  lod = !~/.git-friends/bin/log-from-default --date=relative
  lods = !~/.git-friends/bin/log-from-default --date=short
  lodi = !~/.git-friends/bin/log-from-default --date=iso8601-strict

  add-upstream = !~/.git-friends/bin/add-upstream
  aliases = !~/.git-friends/bin/aliases
  churn = !~/.git-friends/bin/churn
  cscope = !~/.git-friends/bin/cscope
  ctags = !~/.git-friends/bin/ctags
  default-branch = !~/.git-friends/bin/default-branch
  https-2-ssh = !~/.git-friends/bin/change-protocol 'ssh'
  prune-branches = !~/.git-friends/bin/prune-branches
  rebase-to-main = !~/.git-friends/bin/rebase-to-main
  recent = !~/.git-friends/bin/recent
  refresh-hooks = !~/.git-friends/bin/refresh-hooks
  remote-check-status = !~/.git-friends/bin/remote-check-status
  ssh-2-https = !~/.git-friends/bin/change-protocol 'https'
  submodule-remove = !~/.git-friends/bin/submodule-remove
  submodule-sync = !~/.git-friends/bin/submodule-sync
  submodule-upgrade = !~/.git-friends/bin/submodule-upgrade
