[alias]
  # git hook commands
  add-upstream = !.git/hooks/add-upstream
  cscope-gen = !.git/hooks/cscope-gen
  ctags = !.git/hooks/ctags
  http-2-ssh = !.git/hooks/http-2-ssh
  recent = !.git/hooks/git-recent
  ssh-2-http = !.git/hooks/ssh-2-http
  submodule-remove = !.git/hooks/submodule-remove
  submodule-upgrade = !.git/hooks/submodule-upgrade
  update-hooks = !rm -rf .git/hooks/* && git init
